/* Header */

.btn-danger {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(204, 3, 35, 0.5);
  color: #eedb00;
}

header {
  background-color: rgba(60, 69, 67, 0.6);
  border-radius: 15px 15px 0 0;
}

h1 {
  font-size: 3em;
}

/* Main */

.border.float-end {
  border-color: #eedb00 !important;
  border-radius: 0 0 15px 15px; 
}


.float-start img {
  box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}




/* Footer */

footer {
  border-radius: 0 0 15px 15px;
  height: 6em;
  background-color: rgba(60, 69, 67, 0.6);
}

.email {
  font-size: 1.5em;
  color: black;
}