.footer, .header {
    height: 50px;
    width: 70%;
    margin: 0 auto;
}

.footer {
    background-color: darkgoldenrod;
    
}
.header {
    background-color: violet;
    /* position: fixed;
    top: 0;
    left: 15%; */
}
.main {
    height: 1200px;
    background-color: red;
    position: relative;
}
.div1, .div2, .div3 {
    height: 100px;
    width: 50%;
    position: absolute;
}
.div1 {
    background-color: yellow;
    top: 100px;
    left: 0;
}
.div2 {
    background-color: blue;
    top: 0;
    left: 0;
}
.div3 {
    background-color: green;
    top: 0;
    right:0;
}