@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@100;500;600;800&display=swap');


* {
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.header {
    height: 400px;
    background-image: url("../images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(16, 17, 4, 0.75);
    text-align: center;
    padding-top: 135px;
}

.main>div {
    list-style: none;
    padding: 0%;
}

.main div {
    margin: 100px 0;
    border: 1px solid #214e34;
    padding-bottom: 150px;

}

.Brazil,
.Colombia,
.India,
.Ethiopia,
.Costa_Rica,
.Kenya {
    height: 100px;
    width: 50%;
    position: absolute;
}

.Brazil {
    top: 400px;
    left: 10px;
    background-color: antiquewhite;
}

.Colombia {
    top: 700px;
    left: 10px;
    background-color: antiquewhite;
}

.India {
    top: 1000px;
    left: 10px;
    background-color: antiquewhite;
}

.Ethiopia {
    top: 400px;
    left: 52%;
    width: 47.8%;
    background-color: antiquewhite;
}

.Costa_Rica {
    top: 700px;
    left: 52%;
    width: 47.8%;
    background-color: antiquewhite;
}

.Kenya {
    top: 1000px;
    left: 52%;
    width: 47.8%;
    background-color: antiquewhite;
}

.main div>h2 {
    font-weight: 800;
    font-size: 28px;
    background-color: #aa8eb5;
    text-align: center;
    text-transform: uppercase;
}

.main div>p {
    color: #444;
    font-size: 20px;
    text-align: justify;
    text-indent: 32px;
    line-height: 1.5;
    padding: 10px;
}

.main div>p>a {
    display: block;
    color: #214e34;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}