@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
}
body {
    font-family: 'Poller One', serif;
    background-image: url(../images/sky.jpg);
    color: rgb(255, 251, 0);
    background-attachment: fixed;
}

header {
    border-radius: 15px 15px 0 0;
}
footer {
    border-radius: 0 0 15px 15px;
    height: 6em;
    clear: both;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}
nav > ul {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 5px;
    left: 40px;
}
nav li {
    display: inline;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 0.5em 0;
}

.left {
    float: left;
    width: 25%;
    margin: 5px 5px 0;
}
.right {
    float: right;
    width: 50%;
    margin: 5px 5px 0;
}
img {
    width: 100%;
}
.far_galaxy {
    font-size: 2em;
    letter-spacing: 0.2em;
    line-height: 1.4;
    text-align: justify;
}
.right > table {
    border: 1px solid #eedb00;
    border-radius: 0 0 15px 15px;
}
.left > img {
    box-shadow:rgba(60, 69, 67, 0.6) 10px 10px;
}
.button {
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    width: 11em;
    height: 1.5em;
    position: relative;
    left: 50em;
    top: 2em;
}
.button > p {
    font-size: 0.8em;
    text-align: center;
}
.email {
    font-size: 1.5em;
    color: black;
    font-variant: small-caps;
    
}

.yoda {
    border-bottom-right-radius: 15px;
}
.falcon {
    border-bottom-left-radius: 15px;
}