@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poller One', serif;
    background-image: url(./assets/sky.jpg);
    color: rgb(255, 251, 0);
    background-attachment: fixed;
}

